.contact {
  position: relative;
  max-width: 100%;
  padding: 2rem;
  background: #06041c;
  display: grid;
}

.contact__title {
  text-align: center;
}

.contact__container {
  max-width: 90%;
  margin-inline: auto;
  justify-content: center;

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.contact__container > * {
  flex-grow: 1;
  flex-basis: calc(calc(35rem - 100%) * 999);
}

form {
  display: grid;
  gap: 0.5rem;
}

form input,
textarea {
  padding: 0.5rem 1.5rem;
  background: none;
  border: none;

  background-color: #222;
  border-radius: 1rem;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  font-style: italic;
}

form input,
textarea:focus {
  outline: none;
}

.contact__first,
.contact__second {
  display: grid;
  gap: 1rem;
}

.selection {
  display: grid;
}

select {
  padding: 0.5rem 1.5rem;
  background: none;
  border: none;

  background-color: #222;
  border-radius: 1rem;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  font-style: italic;
}

.contact__img img {
  transform: scaleY(1.5) translateY(60px);
}

@media screen and (max-width: 940px) {
  .contact__container {
    display: grid;
    width: 100%;
  }
}
